<h1>
  {{title.format("MMMM, YYYY")}}
</h1>

<h1><span></span></h1>
<table border=1.5 width="800px">
 <thead>
    <tr><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th></tr>
 </thead>
 <tbody>
  <tr *ngFor="let week of weeks" >
    <td *ngFor="let day of week.days"  style="background-color:lightblue;">
        <app-cell [day]="day" (selectDay)="onSelect($event)"></app-cell>
    </td>
         
  </tr>
 <tbody>
</table>
<h1><span>Selected Date : {{selected}}</span></h1>